#container {
    width: 75%;
}
#results-number {
    font-size: 18px;
}
.result {
	min-height: 30px;
	font-size: 25px;
    padding: 10px 15px;
    margin:15px 0;
    border: 0;
    background-color: #e9ebed;
    border-bottom: 4px solid #c4d0dc;
    border-radius: 2px;
    vertical-align: top;
    transition-property: transform, border-bottom;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}
.result:hover {
    cursor: pointer;
    border-bottom: 4px solid #f1a3a3;
    transform: translateY(-4px);
}
.result-poem-title {
    font-size: 27px;
    font-family: 'Martel', serif;
}
.result-poet {
    font-size: 18px;
}
.result-verse {
    margin-top: 5px;
    font-size: 23px;
}
.poem-id {
    display: none;
}